<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    <meta name="viweport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Zarzaliel">
    <meta name="description" content="[v:webcomicdescription]">

    <!-- Last Update: [v:lastupdatedmy] -->

    <!-- Open Graph Protocol Metadata-->
    <meta property="og:type" content="website">
    <meta property="og:title" content="[v:webcomicname]">
    <meta property="og:description" content="[v:pagetitle]">
    <meta property="og:url" content="[v:permalink]">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="[v:webcomicname]">
    <meta name="twitter:description" content="[v:pagetitle]">


    [c:comicimageurl]
    <meta property="og:image" content="[v:comicimageurl]">
    <meta property="og:image:width" content="[v:comicwidth]">
    <meta property="og:image:height" content="[v:comicheight]">
    <meta name="twitter:image" content="[v:comicimageurl]">
    [/] 

    <!-- FavIcons -->
    <link rel="shorcut icon" href="/files/resources/images/icons/favicon.ico" type="image/x-icon">
    <!-- Touch icon for iOS 2.0+ and Android 2.1+ 180x180 -->
    <link rel="apple-touch-icon-precomposed" href="/files/resources/images/icons/nil-icon_180x180.png">
    <!-- IE 10 Metro tile icon 144x144 -->
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/files/resources/images/icons/nil-icon_144x144.png">
    <!-- IE 11 Tile for Windows 8.1 Start Screen -->
    <meta name="application-name" content="Name">
    <meta name="msapplication-tooltip" content="Tooltip">
    <meta name="msapplication-config" content="/files/resources/meta/ieconfig.xml">
    <!-- For iPhone 6 Plus with @3× display: -->
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/files/resources/images/icons/nil-icon_180x180.png">
    <!-- For iPad with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/files/resources/images/icons/nil-icon_152x152.png">
    <!-- For iPad with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/files/resources/images/icons/nil-icon_144x144.png">
    <!-- For iPhone with @2× display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/files/resources/images/icons/nil-icon_120x120.png">
    <!-- For iPhone with @2× display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/files/resources/images/icons/nil-icon_114x114.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/files/resources/images/icons/nil-icon_76x76.png">
    <!-- For the iPad mini and the first- and second-generation iPad (@1× display) on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/files/resources/images/icons/nil-icon_72x72.png">
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 57x57px -->
    <link rel="apple-touch-icon-precomposed" href="/files/resources/images/icons/nil-icon_57x57.png">

    <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss/">

    <title>[v:webcomicname] - [v:pagetitle]</title>

    <!--layout:[css]-->

    [v:cfscriptcode]

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <link rel="icon" href="https://nil-canticum-bellum.thecomicseries.com/files/avatartrans.png" type="image/icon type">
</head>
<body>
    <div id="container">
    [c:bannerads]
        <!-- voluntary CF support ads, you can turn these off in your webcomic settings -->
        <article id="cf-ads">
            [v:banneradcode]
        </article>
    [/]
    [c:isextrapage]
        <h2>[v:pagetitle]</h2>
        <div class="after-heading">
    [/]
        <!--layout:[content]-->
    [c:isextrapage]
        </div>
    [/]
    </div>
    <footer>
        <a href="/rss/">RSS</a> |
        <a href="https://comicfury.com">ComicFury</a> |
        <a href="https://comicfury.com/comicprofile.php?url=nil-canticum-bellum">Comic Profile</a> |
        <a href="#">Top</a><br />
        &copy; [v:copyrights]
    </footer>
</body>
</html>